<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EmbedIO" version="1.0.0" targetFramework="net45" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.5" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net45" />
  <package id="PostSharp" version="4.0.43" targetFramework="net45" />
  <package id="PostSharp.Patterns.Diagnostics" version="4.0.43" targetFramework="net45" />
  <package id="PostSharp.Patterns.Diagnostics.Log4Net" version="4.0.43" targetFramework="net45" />
  <package id="PostSharp.Sdk" version="4.0.43" targetFramework="net45" />
  <package id="Prism.Mvvm" version="1.1.1" targetFramework="net45" />
</packages>